



.thead{
   background-color: black;
}
th{
   color: white;
   height:75px
}


//  header
ul.nav {
   padding-left: 0px;
   background-color: #3D99CE;
   text-align: center;
 }
 ul.nav > li {
   display: inline-block;
   padding: 10px 20px;
 }
 ul.nav > li:hover {
   background-color: #2779BF;
 }
 ul.nav > li > a {
   color: white;
   text-decoration: none;
 }
.menu{
   font-size: 13px;
   background-color:#2779BF ;
   width:100%;
   overflow: hidden;
}
.navbar-expand-lg {
   flex-wrap: nowrap;
   justify-content: flex-start;
   height: 97px;
  
}


#grid-box{
   padding:30px;
}



.fa-android[_ngcontent-ooh-c110] {
   font-size: 3em;
}

